{{ if .Params.author }}
  {{ $author := index .Site.Data.authors .Params.author }}
  {{ if $author }}
    <div class='custom-section author-bio mid-gray'>
      <h3>About the author</h3>
      <div class='image-bio-section'>
        <div class='left'>
          <img src="{{ $author.headshot }}" class="img" alt="image from {{ $author.displayName }}">
        </div>
        <div class='right'>
          <h4>{{ $author.displayName }}</h4>
          <p>{{ $author.bio }}</p>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
