.officeLocation {
  margin-bottom: 15px;
}
.officeLocation.firstEl {
  margin-top: -8px;
}
.officeLocation + .officeLocation {
  margin-bottom: 25px;
}

.find-us i.fa {
  font-size: 1.3em;
}

.google-maps-header {
  position: relative;
  top: 76px;
}