.section-header.about-pingthings p {
  text-align: left;
}

.custom-section.author-bio {
  border-radius: 4px;
  border: 1px solid black;
  padding: 8px;
  width: 70%;
}

.image-bio-section {
  display: flex;
}

.image-bio-section div>img {
  padding-right: 16px;
  padding-top: 8px;
}

.image-bio-section > .left {
  flex-basis: 200%;
}

.custom-section.author-bio.mid-gray {
  border: 1px solid #555;
}

@media (min-width: 992px) {
  .custom-section.author-bio {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .custom-section.author-bio {
    width: 95%;
  }

  .image-bio-section div>img {
    padding-bottom: 16px;
  }
}

@media (max-width: 767.98px) {
  .image-bio-section {
    flex-direction: column;
  }
}
